{% extends "base.html" %}
{% block title %}{{ _("测试中") }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/svgcheckbx.css') }}">
{%endblock%}

{% block container %}
<div>
    {% for question in questions %}
    <form class="ac-custom ac-radio ac-circle" autocomplete="off" style="display: {% if loop.index == 1 %}block{% else %}none{% endif %}">
        <h2>{{ loop.index }}. {{ _(question['question']) }}</h2>
        <ul>
            <li>
                <input id="choice_a" name="answer" value="{{ question.choice_a.value }}" type="radio">
                    <label for="choice_a">
                        {{ _(question.choice_a.text) }}
                    </label>
                    <svg viewBox="0 0 100 100"></svg>
            </li>
            <li>
                <input id="choice_b" name="answer" value="{{ question.choice_b.value }}" type="radio">
                    <label for="choice_b">
                        {{ _(question.choice_b.text) }}
                    </label>
                    <svg viewBox="0 0 100 100"></svg>
            </li>
        </ul>
    </form>
    {% endfor %}
</div>

<div class="ac-custom ">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3022214826355647"
     crossorigin="anonymous"></script>
    <!-- mbti测试题目表单下方广告 -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3022214826355647"
        crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-format="fluid"
        data-ad-layout-key="-gw-3+1f-3d+2z"
        data-ad-client="ca-pub-3022214826355647"
        data-ad-slot="1517453072"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/svgcheckbx.js') }}"></script>
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
{% endblock %}
