<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MBTI职业性格在线免费测试|MBTI测试</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/welcome.css') }}" />
    </head>
    <body>
        <a href="/home/">
            <div class="container">
                <div style="text-align: center;color: white; margin-top: 200px; font-size:36px">
                    <h1>MBTI职业性格在线免费测试</h1>
                </div>
                <section class="main">
                    <h3 class="cs-text">
                        <span class="cs-text-cut">点击开始</span>
                        <span class="cs-text-mid">MBTI 测试</span>
                        <span class="cs-text-cut">点击开始</span>
                    </h3>
                </section>
                <div class="component">
                    <ul class="grid">
                        <li class="ot-letter-left"><span data-letter="M">M</span></li>
                        <li class="ot-letter-top"><span data-letter="B">B</span></li>
                        <li class="ot-letter-bottom"><span data-letter="T">T</span></li>
                        <li class="ot-letter-right"><span data-letter="I">I</span></li>
                        <li class="ot-letter-left"><span data-letter="-">-</span></li>
                        <li class="ot-letter-bottom"><span data-letter="在">在</span></li>
                        <li class="ot-letter-right"><span data-letter="线">线</span></li>
                        <li class="ot-letter-top"><span data-letter="测">测</span></li>
                        <li class="ot-letter-left"><span data-letter="试">试</span></li>
                    </ul>
                </div>
            </div>
        </a>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.lettering.js') }}"></script>
        <script>
            $(document).ready(function() {
                $(".cs-text-cut").lettering('words');
            });
        </script>
    </body>
</html>

