<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="MBTI职业性格测试免费版,MBTI 성격 테스트 무료 버 전,MBTI Persönlichkeitstest frei,MBTI personality test free,MBTIの職業特性テストの無料版,Test de personnalité MBTI" />
    <meta name="author" content="axiaoxin" />
    <meta name="viewport" content="width=device-width" />
    <meta name="baidu_union_verify" content="9cbba7072b22929a8aa56465176c7835">
    <meta name="keywords" content="MBTI职业性格测试,MBTI personality test,MBTI Persönlichkeitstest,MBTI 성격 테스트,MBTI職業人格テスト,Test de personnalité MBTI" />
    <title>MBTI|{% block title %}{% endblock %}|{{ _("MBTI测试") }}|{{ _("MBTI性格测试") }}|{{ _("MBTI职业性格测试") }}|{{ _("免费版") }}</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    {% block css %} {% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='html5shiv.js') }}"></script>
      <script src="{{ url_for('static', filename='respond.min.js') }}"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">{{ _("MBTI职业性格测试") }}</a>
          <button
            class="navbar-toggle"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-main"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _("网站语言") }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/?lang=zh">中文</a></li>
                    <li><a href="/?lang=en">English</a></li>
                    <li><a href="/?lang=ko">한국인</a></li>
                    <li><a href="/?lang=de">Deutsch</a></li>
                    <li><a href="/?lang=ja">日本語</a></li>
                    <li><a href="/?lang=fr">Français</a></li>
                </ul>
            </li>
            <li>
                <a href="/home/">{{ _("首页") }}</a>
            </li>
            <li>
                <a href="/personalities/">{{ _("MBTI十六型人格") }}</a>
            </li>
            <li>
                <a href="/about/">{{ _("关于") }}</a>
            </li>
            <li>
                <a href="/messageboards/">{{ _("留言板") }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--NAV BAR END-->

    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="flashes">
      <ul class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% endwith %} {% block container_top %} {% endblock %}
    <div class="container">
      {% block container %} {% endblock %}
    </div>
    {% block container_bottom %} {% endblock %}

    <div class="container">
        <!-- cpu feeds block -->
        <div class="cpu-feeds-block" data-site-id="275548247" data-block-id="92578"></div>
        <script>
            (function(){var url="//cpu.baidu.com";var getEntry=function(){var script=document.createElement("script");script.id="cpu-block-entry";script.src=url+"/js/cb.js";var scriptTag=document.getElementsByTagName("script")[0];scriptTag.parentNode.insertBefore(script,scriptTag)};var sentMsg=function(e){var msg={msg:e.toString()||"no err msg",line:e.lineno||-1};var img=document.createElement("img");img.src=url+"/msg?m=block&e="+encodeURIComponent(JSON.stringify(msg))};try{window.feedsbycpu=window.feedsbycpu||[];window.feedsbycpu.push({siteId:"275548247",blockId:"92578",display:"auto"});document.getElementById("cpu-block-entry")||getEntry()}catch(e){sentMsg(e)}})();
        </script>
        <!-- cpu feeds block end-->
    </div>

    <footer class="footer navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li>
                <a href="http://axiaoxin.com" target="_blank">axiaoxin@2015</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    />
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block js %} {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HMBSBE8TJM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HMBSBE8TJM');
    </script>

    <!-- google auto ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3022214826355647"
     crossorigin="anonymous"></script>

    <script>
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?0164204605ac860bf70d62bba2bf6302";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/cm.js" async="async" defer="defer" ></script>

  </body>
</html>
